<!DOCTYPE html>
<html lang="en-GB">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
		<title>Upload</title>
		<meta name="color-scheme" content="dark light" />
		<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
	</head>

	<body>
		<h1>Upload</h1>
		<form method="POST" enctype="multipart/form-data" class="col">
			<label for="upload">Choose a file to upload:</label>
			<input type="file" id="upload" name="upload" required />
			<button>Submit</button>
		</form>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</body>

</html>
